<p id="notice"><%= notice %></p>
<section class="box">
<h2 class="section-title">Entries</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td class='table__entry-name'><%= link_to entry.name, entry %></td>
        <td class="table__description"><%= entry.description %></td>
        <td><%= entry.photo %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<% @entries.each do |entry| %>
  <%= link_to entry, class:"box box--narrow box--solid entry" do %>
      <img src="<%= entry.photo%>" alt="">
      <h3><%= entry.name %></h3>
      <hr>
      <p><%= entry.description %></p>
      <hr>
  <%end%>

  <div class="entry-controls">
  <%= link_to 'Edit', edit_entry_path(entry) %>
  <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%end%>

</section>
<div class="box box--narrow">
  <%= link_to 'New Entry', new_entry_path %>

</div>
