<%= form_with(model: review, url: entry_reviews_path) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Your Score (out of 5)'%>
    <%= form.number_field :score, in: 1...6, id: :review_score %>
  </div>

  <div class="field">
    <%= form.label 'Review Text' %>
    <%= form.text_area :reviewtext, id: :review_reviewtext %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :review_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
